
html {
  /* scrollbar-width: none; */
}
#none {
  color: transparent;
}
body {
  margin: 0px;
  /* height: 3000px; */
  /* position: sticky;
  top: 111px;
  left: 200px; */
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.inner {
  width: 1700px;
  margin: auto;
}

/*header*/
header {
  background-color: white;
  z-index: 3;
  position: fixed;
  top: 0px;
  width: 100%;
  padding-top:10px;
}

header .inner {
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
header .logo a {
  padding: 30px 20px;
}

header nav {
  display: flex;
  /* align-items: center; */
}

header nav ul {
  display: flex;
  /* align-items: center; */
  list-style: none;
}
header nav ul li {
  margin: 0 25px;
}
header nav ul li a {
  padding: 30px 10px;
}

header nav ul li a,
header nav ul li span {
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  vertical-align: middle;
}

header ul li:hover a,
header ul li:hover span {
  color: rgb(167, 167, 167);
}



/* aside */
aside {
  /* background-color: #aeaeae; */
  /* width: 250px; */
  /* margin-top: 50px; */
  position: fixed;
  z-index: 2;
  height: 100%;
  top: 100px;
  /* left: 0px; */
  border-right: 0.5px solid rgb(222, 222, 222);

}

aside ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

aside ul li {
  /* margin: 25px 0px; */
  border-bottom: 1px solid rgb(214, 214, 214);
}

aside ul li a {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
}

aside ul li:hover a {
  color: rgb(167, 167, 167);
}
/* main */
main {
  margin-top: 110px;

}

main .inner {
  /* background-color: rgb(168, 168, 168); */
  position: relative;
}

main ul {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  /* margin-bottom: 10px; */
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 109px;
  border-bottom: 5px groove #b2b2b2;

  /*sticky쓰거나 위의 fixed쓰나 다를바가없는데 ul만큼 부피 차지하는것말고는*/
  position: sticky;
  top: 109px;
}

main ul li {
  list-style-type: none;
}

main ul li span {
  display: inline-block;
  /* border-radius: 10px; */
  padding: 20px 25px;
  cursor: pointer;
}

main ul li:hover span {
  color: #979797;
}

main ul li span.current {
  background-color: #b6b6b6;
}

/* main #short-view-key */
table th,
table td {
  font-weight: 300px;
  text-align: center;
}
main table#short-view-key {
  margin: auto;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 5px;
}

main table#short-view-key tr {
  /* border: 1px solid black; */
  background-color: #b2b2b2;
}
main table#short-view-key tr th {
  padding: 15px 40px;
}
main table#short-view-key tr th:nth-child(1) {
  width: 100px;
}
main table#short-view-key tr th:nth-child(2) {
  width: 150px;
}
main table#short-view-key tr th:nth-child(3) {
  width: 150px;
}
main table#short-view-key tr th:nth-child(4) {
  width: 150px;
}
main table#short-view-key tr th:nth-child(5) {
  width: 150px;
}

/* main #short-view-val */
main table#short-view-val {
  margin: auto;
  width: 100%;
  /* border-collapse: separate; */
  /* border-spacing: 0px 5px; */
  background-color: rgb(223, 223, 223);
  
}
main table#short-view-val tr {

}
main table#short-view-val tr td {
  padding: 15px 40px;
}
main table#short-view-val tr td span {
  background-color: #afafaf;
  border-radius: 5px;
  display: inline-block;
  height: 10px;
}

main table#short-view-val tr td:nth-child(1) {
  width: 100px;
}
main table#short-view-val tr td:nth-child(1) span {
  width: 20px;
}
main table#short-view-val tr td:nth-child(2) {
  width: 150px;
}
main table#short-view-val tr td:nth-child(2) span {
  width: 100px;
}
main table#short-view-val tr td:nth-child(3) {
  width: 150px;
}
main table#short-view-val tr td:nth-child(3) span {
  width: 100px;
}
main table#short-view-val tr td:nth-child(4) {
  width: 150px;
}
main table#short-view-val tr td:nth-child(4) span {
  width: 100px;
}
main table#short-view-val tr td:nth-child(5) {
  width: 150px;
}
main table#short-view-val tr td:nth-child(5) span{
  width: 100px;
}

/*main #date-input*/
main div#date-input {
  /* width: 1110px; */
  width: 100%;
  margin: 10px auto;
}
main div#date-input input {
  height: 30px;
  width: 150px;
}
/*main #table-list*/

main div#table-list {

}

main div#table-list th,
main div#table-list td {
  padding: 15px 40px;
}

main div#table-list table#list-key {
  /* margin: 10px auto; */
  width: 100%;
  background-color: #b2b2b2;
}

/* table#list-key tr#all-view */

main div#table-list table#list-key tr#all-list-key th:nth-child(1) {
  width: 80px;
}
main div#table-list table#list-key tr#all-list-key th:nth-child(2) {
  /* 회원이름 */
  width: 50px;
}
main div#table-list table#list-key tr#all-list-key th:nth-child(3) {
  /* 담당강사 */
  width: 50px;
}
main div#table-list table#list-key tr#all-list-key th:nth-child(4) {
  /* 결제강사 */
  width: 50px;
}
main div#table-list table#list-key tr#all-list-key th:nth-child(5) {
  /* 휴대폰번호 */
  width: 120px;
}
main div#table-list table#list-key tr#all-list-key th:nth-child(6) {
  /* 결제항목 */
  width: 220px;
}
main div#table-list table#list-key tr#all-list-key th:nth-child(7) {
  /* 시작일 */
  width: 85px;
}
main div#table-list table#list-key tr#all-list-key th:nth-child(8) {
  /* 만료일 */
  width: 85px;
}
main div#table-list table#list-key tr#all-list-key th:nth-child(9) {
  /* 결제금액 */
  width: 120px;
}

/* table#list-key tr#month-view */
main div#table-list table#list-key tr#month-list-key th:nth-child(1) {
  width: 10px;
}
main div#table-list table#list-key tr#month-list-key th:nth-child(2) {
  width: 10px;
}
main div#table-list table#list-key tr#month-list-key th:nth-child(3) {
  width: 20px;
}

/* table#list-val tr#all-view */

main div#table-list table#list-val {
  font-weight: 500;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0px 5px;
  text-align: center;
}

main div#table-list table#list-val tr {
  background-color: rgb(223, 223, 223);
  height: 50px;
}

main div#table-list table#list-val tr td span {
  background-color: #afafaf;
  border-radius: 5px;
  display: inline-block;
  height: 10px;
}

main div#table-list table#list-val tr td:nth-child(1) {
  /* 결제일 */
  width: 95px;
}
main div#table-list table#list-val tr td:nth-child(1) span {
  /* 결제일 */
  width: 95px;
}

main div#table-list table#list-val tr td:nth-child(2) {
  /* 회원이름 */
  width: 60px;
}

main div#table-list table#list-val tr td:nth-child(2) span {
  /* 회원이름 */
  width: 60px;
}

main div#table-list table#list-val tr td:nth-child(3) {
  /* 담당강사 */
  width: 60px;
}

main div#table-list table#list-val tr td:nth-child(3) span {
  /* 담당강사 */
  width: 60px;
}

main div#table-list table#list-val tr td:nth-child(4) {
  /* 결제강사 */
  width: 60px;
}

main div#table-list table#list-val tr td:nth-child(4) span {
  /* 결제강사 */
  width: 60px;
}

main div#table-list table#list-val tr td:nth-child(5) {
  /* 휴대폰번호 */
  width: 130px;
}

main div#table-list table#list-val tr td:nth-child(5) span {
  /* 휴대폰번호 */
  width: 130px;
}


main div#table-list table#list-val tr td:nth-child(6) {
  /* 결제항목 */
  width: 235px;
}

main div#table-list table#list-val tr td:nth-child(6) span {
  /* 결제항목 */
  width: 235px;
}

main div#table-list table#list-val tr td:nth-child(7) {
  /* 시작일 */
  width: 110px;
}

main div#table-list table#list-val tr td:nth-child(7) span {
  /* 시작일 */
  width: 110px;
}

main div#table-list table#list-val tr td:nth-child(8) {
  /* 만료일 */
  width: 110px;
}

main div#table-list table#list-val tr td:nth-child(8) span {
  /* 만료일 */
  width: 110px;
}
main div#table-list table#list-val tr td:nth-child(9) {
  /* 결제금액 */
  width: 120px;
}

main div#table-list table#list-val tr td:nth-child(9) span {
  /* 결제금액 */
  width: 120px;
}


/* pagination */

div.inner #pagination {
  display: flex;
  justify-content: center;
  margin: 15px;
  /* width: 150px;
  margin: auto; */
}

#pagination button {
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  transition: .5s;
  cursor: pointer;
}

#pagination button:hover {
  background-color: rgb(146, 146, 146);
  color: #fff;
  /* border-radius: 20px; */
}

#pagination #page-indicator {
  display: flex;
  align-items: center;
}

#pagination #page-indicator .page-btn {
  /* width: 10px; */
  width: 19px;
  /* height: 30px; */
  margin: 0px 3px;
  padding: 5px 5px;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  cursor: pointer;

}
#pagination #page-indicator .page-btn span.page-num {
  /* line-height: 10px; */
}
#pagination #page-indicator .page-btn.current {
  background-color: rgb(31, 31, 31);
  color: #fff;
}

#pagination #page-indicator .page-btn:hover {
  background-color: rgb(146, 146, 146);
  color: #fff;
}
