a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.flex-container {
  width: 750px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
}

ul li {
  padding: 0px 30px;
}

ul li a,
ul li span {
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  vertical-align: middle;
}

ul li:hover a,
ul li:hover span {
  color: rgb(167, 167, 167);
}

.calender {
  /* display: flex; */
  width: 1500px;
  margin: auto;
}
.calender .day {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}