div {
  width: 500px;
  height: 200px;
  overflow-y: scroll;
}
table#first-table {
  border: 1px solid black;
  height: 100px;
  width: 500px;
  display: block;
  overflow-y: scroll;
}
table#second-table {
  border: 1px solid black;
  display: block;
  height: 100px;
  width: 500px;
  overflow-y: scroll;
  transition: .5s;
}
table#second-table:hover {
  top: 30px;
  left: 19px;
  position: absolute;
  height: 200px;
  overflow-y: scroll;
}